<div class="container jumbotron" ng-controller="testingController">
  <h1>
    <small>Testing Form</small>
  </h1>
  <br>
  <form>
    <div class="radio">
      <label>
        <input ng-model="gender" type="radio" name="gender" id="" value="Male"> Male</label>
    </div>
    <div class="radio">
      <label>
        <input ng-model="gender" type="radio" name="gender" id="" value="Female"> Female</label>
    </div>
    <br>
    <button ng-click="showGender()" class="btn btn-default btn-primary">Show Gender</button>
  </form>
</div>